body {
  background-color: #ebf5fb;
  background-image: url("../images/bg1.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: left;
  margin-top: 15%;
}

.box {
  margin-left: 5%;
  margin-top: 7%;
  margin-bottom: 7%;
  padding: 50px;
  background: white;
}

.secondfont {
  font-size: 18px;
}

.center-font {
  text-align: center;
}

footer {
  color: #929496;
  font-size: 15px;
}
