.navbar {
  background-color: #e3f2fd;
  height: 70px;
}

.signout-msg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sign-out-btn {
  display: inline-block;
}

.greeting {
  display: inline-block;
  margin-right: 10px;
}
