.navbar {
  background-color: #e5f5f5;
  height: 70px;
}

.navbar-brand {
  font-weight: bolder;
  font-size: 1.65rem;
}

.signout-msg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.top-bar-btn {
  display: inline-block;
  margin-left: 10px;
  width: 120px;
}

.greeting {
  display: inline-block;
  vertical-align: middle;
}

.form-control,
.form-check {
  margin-top: 10px;
  margin-bottom: 10px;
}

.errorMsg {
  color: white;
  background: red;
  border-radius: 0.3rem;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  margin-bottom: 10px;
}
