.beer-detail-container {
  margin-top: 160px;
}

.beer-detail-img-container {
  display: inline-block;
  height: 400px;
  width: 300px;
  margin: 10px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.beer-detail-img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.beer-detail-info-container {
  display: inline-block;
  margin: 50px 30px;
  position: absolute;
  font-size: 1.25rem;
}

.beer-detail-label {
  display: inline-block;
  width: 125px;
}

.beer-detail-value {
  display: inline-block;
  margin-left: 10px;
}

.beer-like-icon,
.beer-dislike-icon,
.beer-like-btn,
.beer-dislike-btn {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 1.25rem;
  width: 125px;
}

.beer-like-btn,
.beer-dislike-btn {
  border-width: 2px;
  color: #7e7e7e;
  border-color: #7e7e7e;
}

.btn-clicked,
.beer-like-btn:hover,
.beer-dislike-btn:hover {
  color: #fffafa;
  background: #7e7e7e;
  border-color: #7e7e7e;
}
