.detail-header {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 45px;
  padding-right: 45px;
  background: #ffffff;
  z-index: 1001;
}

.go-back-link {
  color: black;
  margin-right: 20px;
  margin-top: 17px;
  vertical-align: top;
}

.beer-detail-title {
  display: inline-block;
  font-size: 1.75rem;
}

.photo-credit {
  margin-top: 45px;
  text-align: right;
  font-size: 15px;
}
