.banner-container {
  position: relative;
  margin-top: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
}

.banner-text {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
  font-family: "Chewy", cursive;
}

.banner-text-row1 {
  font-size: 1.85vw;
}

.banner-text-row2 {
  font-size: 8vw;
}

.banner-text-row3 {
  font-size: 2vw;
}

.banner-img-container {
  width: 100%;
  height: 58vh;
  max-height: 500px;
  min-width: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.banner-background-img {
  max-width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
