.selector {
  display: inline-block;
  margin-right: 1%;
  width: 24%;
}

.top-5s-container {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.all-beers-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.home-header {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 45px;
  padding-right: 45px;
}

.beers-container {
  text-align: center;
}

.photo-credit {
  margin-top: 45px;
  text-align: right;
  font-size: 15px;
}
