.home-header-outter {
  display: flex;
  width: 100%;
  justify-content: center;
}

.home-header {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.selector {
  display: inline-block;
  margin-right: 2vh;
  width: 30vh;
}

.filter-container,
.sort-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter-text,
.sort-text {
  display: inline-block;
  width: 95px;
  margin-left: 20px;
  margin-right: 20px;
}

.clear-filter-link {
  display: inline-block;
}
