.top-5s-container {
  margin-bottom: 30px;
  text-align: center;
}

.all-beers-title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 20px;
}

.beer-not-found-msg {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 15px;
}

.beers-container {
  text-align: center;
}

.photo-credit {
  margin-top: 45px;
  text-align: right;
  font-size: 15px;
}
